<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="tab1">
      <ion-icon name="snow"></ion-icon>
      <ion-label>Bài hát</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="person"></ion-icon>
      <ion-label>Ca sĩ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="list"></ion-icon>
      <ion-label>Album</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon name="star"></ion-icon>
      <ion-label>Film</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
