<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="screen">
    <input type="checkbox" value="None" id="magicButton" name="check" />
    <label class="main" for="magicButton"></label>
  
    <div class="coverImage"></div>
    <div class="search"></div>
    <div class="bodyPlayer"></div>
  
    <table class="list">          
            <p>list</p>
    </table>
          
          <div class="shadow"></div>
          
          <div class="bar"></div>
          
          <div class="info">
            <h4>STRESSED OUT</h4>
            <h3>twenty one pilots - Blurryface</h3>
          </div>
  <audio preload="auto" id="audio" controls>
    <source src="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3">
    <source src="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.ogg">
    </audio>
          <table class="player">
            <td><input type="checkbox" id="backward"/><label class="backward" for="backward"></label></td>
            <td><input type="checkbox" id="play" title="Play" onclick="togglePlayPause()"/><label class="play" for="play"></label></td>
            <td><input type="checkbox" id="forward"/><label class="forward" for="forward"></label></td>
          </table>
          
          <table class="footer">
            <td><input type="checkbox" id="love" checked /><label class="love" for="love"></label></td>
            <td><input type="checkbox" id="shuffle"/><label class="shuffle" for="shuffle"></label></td>
            <td><input type="checkbox" id="repeat" checked /><label class="repeat" for="repeat"></label></td>
            <td><input type="checkbox" id="options"/><label class="options" for="options"></label></td>
          </table>
          
          <div class="current"><h2>STRESSED OUT</h2></div>
          
        
  </div>
</ion-content>
